<%- include('../partials/header_login.ejs') %>
    <div class="content">
        <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                <%= dashboard.name %>
            </h2>
            <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                <!-- <button type="button" class="btn box mr-2 flex items-center ml-auto sm:ml-0"> <i class="w-4 h-4 mr-2" data-lucide="eye"></i> Preview </button> -->
                <button type="button" class="btn box mr-2 flex items-center ml-auto sm:ml-0" id="backbtn"> <i class="w-4 h-4 mr-2" data-lucide="arrow-left"></i> Back </button>

                <!-- <button id="preview" class="btn box mr-2 flex items-center ml-auto sm:ml-0" data-tw-toggle="modal" data-tw-target="#preview-modal"> <svg  xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye mr-2"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>Preview</button> -->
                <% if(id != 1 && id !=2 && id !=3){ %>
                    <!-- <button type="button" id="delete_dashboard" class="btn btn-danger mr-2 flex items-center ml-auto sm:ml-0"> Delete </button> -->
                <% } %>
                <button id="save_edit_dashboard"
                    class="btn btn-primary mr-2 flex items-center ml-auto sm:ml-0"> Save </button>
                    
            </div>
        </div>
        <div class="grid grid-cols-12 gap-6 mt-3">
            <div class="col-span-12 2xl:col-span-12">
                <div class="intro-y box">
                    <input type="hidden" id="dashboard_name" class="form-control py-3 px-4 box pr-10"
                        placeholder="Name" value="<%= dashboard.name %>">
                </div>
                <div id="custom_dashboard_view">
                    <% widget_ids.forEach((row, rindex)=> { %>
                        <div class="intro-y mt-5 custom_row">
                            <div class="row_action">
                                <span class="clone_row" data-te-toggle="tooltip" title="Clone" ><i class="w-3 h-3 mr-2" data-lucide="copy"></i></span>
                                <span class="delete_row" data-te-toggle="tooltip" title="Delete" ><img alt="delete" src="/images/del.svg" class="w-3"></span>
                            </div>
                            <div class="grid grid-cols-12 gap-6">
                                <% row.custom_col.forEach((col,cindex)=>{ %>
                                    <% let size=12/(row.custom_col.length) %>
                                        <div class="col-span-12 lg:col-span-<%= size%> custom_col">
                                            <div class="box h-[320px] p-5 drop_container">
                                                <div
                                                    class="border-dashed h-full drag_events_receive items-center flex justify-center">
                                                    <img data-te-toggle="tooltip" title="Remove" class="remove_image"
                                                        src="/images/trash.png">
                                                    <% if (col==1 ||col==1) { %>
                                                        <img src="/images/general_report.png"
                                                            class="chart w-full h-full" data-chart-src="<%= col %>"
                                                            alt="general_report">
                                                        <% } else if (col==2) { %>
                                                            <img src="/images/transaction_statistics.png"
                                                                class="chart w-full h-full" data-chart-src="<%= col %>"
                                                                alt="transaction_statistics">
                                                            <% } else if (col==3) { %>
                                                                <img src="/images/transaction_real_statistics.png"
                                                                    class="chart w-full h-full"
                                                                    data-chart-src="<%= col %>"
                                                                    alt="transaction_real_statistics">
                                                                <% } else if (col==4) { %>
                                                                    <img src="/images/suspicious_transactions.png"
                                                                        class="chart w-full h-full"
                                                                        data-chart-src="<%= col %>"
                                                                        alt="suspicious_transactions">
                                                                    <% } else if (col==5) { %>
                                                                        <img src="/images/transaction_per_payment_type.png"
                                                                            class="chart w-full h-full"
                                                                            data-chart-src="<%= col %>"
                                                                            alt="transaction_per_payment_type">
                                                                        <% } else if (col==6) { %>
                                                                            <img src="/images/transaction_failure_per_status.png"
                                                                                class="chart w-full h-full"
                                                                                data-chart-src="<%= col %>"
                                                                                alt="transaction_failure_per_status">

                                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>

                                        <% }) %>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <div class="mt-5 grid_divider" id="grid_divider_section">
                    <hr />
                    <div class="flex display_options">
                        <span class="dashborad-grid-type w-12 mr-1 cursor-pointer" data-display-column="1">
                            <img alt="grid-type" src="/images/one_by_one.svg" />
                        </span>
                        <span class="dashborad-grid-type w-12 mr-1 cursor-pointer" data-display-column="2">
                            <img alt="grid-type" src="/images/two_by_two.svg" />
                        </span>
                        <span class="dashborad-grid-type w-12 mr-1 cursor-pointer" data-display-column="3">
                            <img alt="grid-type" src="/images/three_by_three.svg" />
                        </span>
                        <span class="dashborad-grid-type w-12 mr-1 cursor-pointer" data-display-column="4">
                            <img alt="grid-type" src="/images/four_by_four.svg" />
                        </span>
                    </div>
                </div>
            </div>
            <div id="scrollSticky" class="col-span-12 2xl:col-span-3 mt-2 md:hidden" >
                <div class="intro-y pr-1">
                    <div class="box p-5">
                        <div class="relative text-slate-500">
                            <input type="text" class="form-control py-3 px-4 border-transparent bg-slate-100 pr-10" placeholder="Search Widget...">
                            <i class="w-4 h-4 hidden sm:absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i> 
                        </div>
                    </div>
                </div>
                <% let data = [{id :1,img:"/images/general_report.png",icon:"trending-up",size:"12,6", name: "General Report"}, {id :2,size:"6,4,3",img:"/images/transaction_statistics.png",icon:"pie-chart", name: "Transaction Statistics"}, {id :3,size:"6,4,3",img:"/images/transaction_real_statistics.png",icon:"activity", name: "Transaction Real Statistics"},
                {id :4,size:"6,4,3",img:"/images/suspicious_transactions.png",icon:"activity", name: "Suspicious Transactions"},{id :5,size:"6,4,3",img:"/images/transaction_per_payment_type.png",icon:"bar-chart-2", name: "Transaction per Payment Type"},{id :6,size:"6,4,3",img:"/images/transaction_failure_per_status.png",icon:"trending-down", name: "Transaction Failure per Status"}] %>
       
                <% let datas = [] %>
                <% widget_ids.filter((row, rindex)=> { %>
                    <% row.custom_col.filter((col,cindex)=>{ %>
                            <% datas.push(Number(col)) %>
                          
                        <% }) %>
                   
                    <% }) %>
                    
                    <ul class="list_widget">
                        <div class="intro-y hidden widgetnotFound">
                            <div class="box bg-transparent px-2 py-2 mb-3 flex items-center">
                                <div class="w-8 h-8 ml-3 mt-2 image-fit rounded-md overflow-hidden">
                                    <span class=""><i data-lucide="alert-octagon"></i>
                                    </span>                        
                                </div>
                                <div class="ml-4 mr-auto">
                                    <div class="font-medium">Widget Not Found!</div>
                                </div> 
                            </div>
                        </div> 
                   <% data.forEach((item) => { %>  
                            <div class="intro-y subElement <%= datas.includes(item.id)==false ? 'drag_start_events' : '' %>" draggable="<%= datas.includes(item.id)==false ? 'true' : 'false' %>" data-img-src="<%= item.img %>" data-chart-src="<%= item.id %>" data-width-attr="<%= item.size %>" >
                                <div class="box px-2 py-2 mb-3 flex items-center <%= datas.includes(item.id)==false ? 'zoom-in' : 'cursor_blocked' %>">
                                    <div class="w-8 h-8 image-fit rounded-md overflow-hidden">
                                        <span><i data-lucide="<%= item.icon %>" class="w-6 h-6 mt-1"></i></span>                        
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium"><%= item.name %></div>
                                    </div>
                                    <% if(datas.includes(item.id)==false){ %>
                                        <div class="widget_lock" style="display: none;border-radius: 50%;padding: 3px;background-color: #E48F45;">
                                            <i  style="width: 10px;height:10px;color:white;stroke-width: 3px" data-lucide="lock"></i>
                                        </div>
                                   <% }else{ %>
                                    <div class="widget_lock flex items-center" style="border-radius: 50%;padding: 3px;background-color: #E48F45;">
                                        <i style="width: 10px;height:10px;color:white;stroke-width: 3px;" data-lucide="lock"></i>
                                    </div>
                                    
                                <% } %>
                                    
                                </div>
                            </div>             
                   <% }) %>
                 
                </ul>
            </div>

        </div>
    </div>
 
    <%- include('../partials/confirm_popup.ejs',{modalname:'replace-modal',dash_name:false,error_text:"Are you sure you want to replace this widget ?",cancel_btn:'cancel_replace',save_btn:'accept_replace'}) %>
    <%- include('../partials/widgets_list.ejs') %>
    <%- include('../partials/footer_login.ejs') %>



      