<%- include('../partials/header_before_login.ejs') %>
<style>
    /* eye button */
    .show-wrap {
        position: relative;
    }

    .showpass {
        position: absolute;
        right: 1rem;
        top: 0.6rem;
        z-index: 50;
        cursor: pointer;
    }
</style>
<div class="login">
    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a href="" class="-intro-x flex items-center pt-5">
                    <img alt="Novalnet AG" class="w-50" src="images/Novalnet-Logo-white.svg">
                </a>
                <div class="my-auto">
                    <img alt="Novalnet Monitoring Portal" class="-intro-x w-1/2 -mt-16" src="images/monitoring.svg">
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                       <%= lang("welcome_to") %>
                       <br>
                       <%= lang("monitoring_portal") %>

                    </div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                
                <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                        <%= lang("sign_in") %>
                    </h2>
                    <input type="hidden" id="is_error_found" value="0" />
                    <div class="alert alert-danger alert-dismissible flex items-center my-4" role="alert" id="error_staff_login_block"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="alert-octagon" data-lucide="alert-octagon" class="lucide lucide-alert-octagon w-6 h-6 mr-2 inline"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg> <span id="error_login_form"></span></div>
                    <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">A few more clicks to sign in to your account. Manage all your e-commerce accounts in one place</div>
                    <input type="hidden" id="csrf" value="<%= login_token %>">
                    <div class="intro-x mt-8">
                        <input type="text" class="intro-x login__input form-control py-3 px-4 block" placeholder="<%= lang("user_name") %>" id="username" name="username">
                    </div>
                    <div class="password-block intro-x mt-8">
                        <div class="show-wrap">
                            <input type="password" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="<%= lang("password") %>" id="password" name="password">

                            <div class="showpass" onclick="Pass_Toggle('eye','eye_off','password')">
                                <svg id="eye" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye eye"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>
                                <svg id="eye_off" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off eye-off"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" x2="22" y1="2" y2="22"/></svg>
              
                            </div>
                        </div>
                        <p class="text-danger p-1" id="curPass_err"></p>
                    </div>
                    <!-- <div class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4">
                        <a href="/forgot_password" id="" class="text-primary"><%= lang("forgot_password") %></a> 
                    </div> -->
                    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                        <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top" type="button" id="sign_in">
                            <span class="flex display_none" id="loader">
                                <span class="loader"></span>
                                <%= lang("sign_in") %>...
                            </span>
                            <span id="sign_text"><%= lang("sign_in") %></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END: Login Form -->
        </div>
    </div>
</div>

<%- include('../partials/footer_before_login.ejs') %>